<form method="post" action="{{ path('bd_collection_delete', {'slug': bd_collection.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette série ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bd_collection.id) }}">
    <button class="btn btn-danger text-white">Supprimer</button>
</form>
