<form method="post" action="{{ path('bd_collection_delete', {'id': bd_collection.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bd_collection.id) }}">
    <button class="btn">Delete</button>
</form>
