<div class="dropdown show">
    <a class="btn btn-outline-dark dropdown-toggle mr-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Séries
    </a>

    <div class="dropdown-menu custom_scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% for bd_collection in BdCollections %}
            <a class="dropdown-item" href="{{ path('bd_collection_show', {'slug': bd_collection.slug}) }}">{{ bd_collection.name }}</a>
        {% endfor %}
    </div>
</div>
