{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Série{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="col-md-8 offset-2">
                <div class="card shadow-lg p-5">
                    {{ include('bd_collection/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
