{% extends 'baseAdmin.html.twig' %}

{% block title %}New WishList{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="col-md-8 offset-2">
                <div class="card shadow-lg p-5">
                    <h3 class="mb-4">Ajouter une envie :</h3>
                    {{ include('wish_list/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
