<div class="dropdown show">
    <a class="btn btn-light text-black dropdown-toggle mr-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Auteurs
    </a>

    <div class="dropdown-menu custom_scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% for author in authors %}
            <a class="dropdown-item" href="{{ path('author_show', {'slug': author.slug}) }}">{{ author.name }}</a>
        {% endfor %}
    </div>
</div>
