{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            {{ include('author/_form.html.twig', {'button_label': 'enregistrer'}) }}

            <a class="btn btn-primary mt-4" href="{{ path('author_index') }}">retour</a>
        </div>
    </div>
{% endblock %}
