{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter auteur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="col-md-8 offset-2">
                <h1 class="mb-4">Ajouter un auteur</h1>
                <div class="card shadow-lg p-5">
                    {{ include('author/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
