{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block navbar %}
    {% include '/navbar/navbarHome.html.twig' %}
{% endblock %}

{% block body %}
    <div class="welcome jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 300px;">
                        <img src="/build/cortomaltese.jpg" class="card-img-top" alt="corto">
                    </div>
                </div>
                <div class="col-md-4">
                    {# remplacer user par app.user.name #}
                    <h2 class="display-4 ml-2">Bonjour User</h2>
                    <h3 class=" ml-4">Bienvenue sur BDTech'</h3>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 300px;">
                        <img src="/build/cortomaltese.jpg" class="card-img-top" alt="corto">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
