<div class="dropdown show">
    <a class="btn btn-secondary text-white dropdown-toggle mr-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Catégories
    </a>

    <div class="dropdown-menu custom_scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% for category in categories %}
            <a class="dropdown-item" href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.name }}</a>
        {% endfor %}
    </div>
</div>
