{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Genre{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a class="btn btn-primary mt-4" href="{{ path('category_index') }}">Retour</a>
        </div>
    </div>

{% endblock %}
