{% extends 'baseAdmin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="mb-4">Ajouter un Genre</h1>

            {{ include('category/_form.html.twig') }}

            <a class="btn btn-primary mt-4" href="{{ path('category_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
