@import "~bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
*{
  font-family: 'Patrick Hand SC', cursive;
}

// MAIN FEATURES BASE :

body {
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

//jumbotron bg color :

.jumbotron {
  background-color: transparent;
}

// settings for page display to keep footer at page bottom, see base.html.twig
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

//font-size for bd-index's table to avoid weird margin
.table {
  font-size: 0.9em;
}

//LIST CARD DISPLAY :

// zoom hover card list
#card-list:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  z-index: 2;
}

#card-list {
  z-index: 1;
}

//width of admin index tables
#table_author, #table_category, #table_serie{
  width: 60%;
}

//backgrounds
#content_anonymous{
  background-size: initial;
}
#content_admin{
  background-size: initial;
}