<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <a class="navbar-brand btn btn-primary text-white" href="{{ path('homepage') }}">BDTech'</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary text-white mr-2" href="" id="liste">Liste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary text-white mr-2" href="" id="genres">Genres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary text-white mr-2" href="" id="auteurs">Auteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary text-white mr-2" href="" id="series">Séries</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link btn btn-outline-success text-white mr-2" href="" id="connexion">Connexion</a>
            </li>
        </ul>
    </div>
</nav>.