<div class="navbar navbar-expand-lg navbar-light d-flex justify-content-around shadow-lg p-3 mb-3 bg-white">
    <a href="https://github.com/ArthurP44" target="_blank"><img src="/build/logo_github.png"
                                                                style="height:80px; width:80px;"
                                                                alt="logo_github"></a>
    <h6 class="text-black">Copyright {{ 'now'|date("Y") }}, Arthur Pralon - All rights reserved</h6>
    <a href="https://www.linkedin.com/in/arthur-pralon/" target="_blank"><img
                src="/build/logo_linkedin.png"
                style="height:55px; width:60px;"
                alt="logo_linkedin"></a>
</div>