@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

.jumbotron {
  background-color: ghostwhite;
}

.carousel {
  height: 500px;
  width: 380px;
}

//set footer at the bottom :
body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

//font-size for bd-index's table to avoid weird margin
.table {
  font-size: 0.9em;
}


// jumbotron at /login :
#login_box {
  background-image: url("../images/cortomaltese.jpg");
  background-size: contain;
}

// zoom hover card list
#card-list:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  z-index: 2;
}

#card-list{
  z-index: 1;
}
