@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
    background-image: url("../images/gaston_bg.jpg");
}

a {
    text-decoration: none;
}

.jumbotron{
    background-color: whitesmoke;
}

//set carousel slide size
.carousel {
    width:380px;
    height:500px;
}

//font-size for bd-index's table to avoid weird margin
.table {
    font-size: 0.9em;
}