@import "~bootstrap/scss/bootstrap";

//logo navbar

#bulle_logo {
  padding-bottom: 50px;
  background-image: url('../../public/build/logo_bulle.png');
  background-size: 130px 90px;
  background-repeat: no-repeat;
  color: transparent;
}

/*#connexion {
  padding-bottom: 60px;
  padding-right: 20px;
  background-size: 130px 90px;
  background-repeat: no-repeat;
  color: transparent;
}*/

body {
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}


//jumbotron bg color :

.jumbotron {
  background-color: white;
}

//home jumbotron :
#jumbo_home {
  background-color: ghostwhite;
}

//settings of carousel on homepage :
.carousel {
  height: 500px;
  width: 380px;
}

//set footer at the bottom :
body {
  margin: 0;
}

// settings for page display, see base.html.twig
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

//font-size for bd-index's table to avoid weird margin
.table {
  font-size: 0.9em;
}


// jumbotron at /login :
#login_box {
  background-image: url("../images/cortomaltese.jpg");
  background-size: contain;
}

// zoom hover card list
#card-list:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  z-index: 2;
}

#card-list {
  z-index: 1;
}

// make dropdown menus scrollable in navbar :
.custom_scrollable-menu {
  max-height: 250px;
  overflow-y: auto;
}
