<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}
        {% block navbar %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

<footer>
    {% block footer %}
        {# add footer copyright + href my linkedin + my github #}
    {% endblock %}
</footer>
</html>