{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Bd{% endblock %}

{% block body %}
    <div class="container">
        {{ include('bd/_form.html.twig', {'button_label': 'Modifier'})}}
    </div>
{% endblock %}
