{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Bd{% endblock %}

{% block body %}
    <div class="container">
        <div class="card shadow-lg">
            {{ include('bd/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
