{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter une BD{% endblock %}

{% block navbar %}
    {% include '/navbar/navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('bd/_form.html.twig') }}
    </div>
{% endblock %}
