{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter une BD{% endblock %}

{% block navbar %}
    {% include '/navbar/navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Ajouter une BD</h1>
        <div class="card shadow-lg">
            {{ include('bd/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
